* {
    margin: 0;
    box-sizing: border-box;
}


.background {
    background-image: url(./assets/background.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.cactus {
    background-image: url(./assets/cactus.png);
    width: 30px;
    height: 60px;
    bottom: 0;
    position: absolute;
}
.dino {
    background-image: url(./assets//dino.png);
    width: 60px;
    height: 60px;
    bottom: 0;
    position: absolute;

}

.game-over {
    text-align: center;
    padding: 40vh;
}